<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

<body id="abc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include(sidebar) %>
            </div>
            <div>
                <h1>
                    <%= title %>
                </h1>

                <ul>
                    <% if (book_list.length> 0) { %>
                        <% book_list.forEach(function(book) { %>
                            <li>
                                <a href="<%= book.url %>">
                                    <%= book.title %>
                                </a>
                                (<%= book.author.name %>)
                            </li>
                            <% }); %>
                                <% } else { %>
                                    <li>There are no books.</li>
                                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>