<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

    <body id="abc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <%- include(sidebar) %>
                </div>
                <div style="max-width: 1000px;" >
                    
                    <h1><%= title %>: <%= bookinstance.name %></h1>
                  
                    <p>Do you really want to delete this Instance?</p>
                    <form method="POST" action="">
                        <div class="form-group">
                        <input id="bookinstanceid" class="form-control" type="hidden" name="bookinstanceid" required="true" value="<%= bookinstance._id %>">
                        </div>
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </body>

</html>