<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

    <body id="abc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <%- include(sidebar) %>
                </div>
                <div>
                    <h1>
                        <%= title %>
                    </h1>
                    <ul>
                        <% if (genre_list.length > 0) { %>
                            <% genre_list.forEach(genre => { %>
                              <li>
                                <a href="<%= genre.url %>"><%= genre.name %></a>
                              </li>
                            <% }); %>
                        <% } else { %>
                        <li>There are no genres.</li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>