<!DOCTYPE html>
<html lang="en">

<%- include(head) %>

<body id="abc">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <%- include(sidebar) %>
      </div>
      <div>
        <h1>
          <%= title %>
        </h1>
        <p>This library management web application is a comprehensive solution that simplifies the process of managing and accessing  a collection
          <br> of books, authors, genres, and book instances. Built on the robust Node.js platform, the application harnesses the power of  MongoDB for data
          <br> storage and retrieval. It uses Mongoose as an Object-Document Mapping (ODM) tool to interact seamlessly with the database,  providing
          <br> a structured and efficient approach to handling data.</p>

        <h1>Dynamic content</h1>
        <p>The library has the following record counts:</p>
        <ul>
          <li><strong>Books:</strong>
            <%= book_count %>
          </li>
          <li><strong>Copies:</strong>
            <%= book_instance_count %>
          </li>
          <li><strong>Copies available:</strong>
            <%= book_instance_available_count %>
          </li>
          <li><strong>Authors:</strong>
            <%= author_count %>
          </li>
          <li><strong>Genres:</strong>
            <%= genre_count %>
          </li>
        </ul>

        <br>
        <p><a href="https://github.com/octavian-sn"> <img src="/images/gitb.png" alt="GitHub Logo" height="30px"></a> crafted by <strong>Octavian Șulic</strong></p>

      </div>
    </div>
  </div>
</body>

</html>
